# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv
node_modules
*.vscode
*.pyc
*package*


# python lib
venv

# data
*data

# jupyter notebook
*.ipynb

# Serverless directories
.serverless
serverless.config.*