service: serverless-stock

provider:
    name: aws
    runtime: python3.7
    stage: dev
    region: us-east-1
    memorySize: 256
    timeout: 30
    versionFunctions: false
    iamRoleStatements:
        - Effect: Allow
          Action:
              - s3:PutObject
              - s3:PutObjectAcl
              - s3:GetObject
              - s3:GetObjectAcl
          Resource: arn:aws:s3:::serverless-stocks/*

custom:
    pythonRequirements:
        dockerizePip: non-linux

functions:
    # get_stock:
    #     handler: handler.get_stock
    #     events:
    #         - http:
    #               path: getstock
    #               method: get
    get_stock:
        handler: handler.get_stock
        events:
            - schedule: cron(0 10 ? * MON-FRI *)

plugins:
    - serverless-offline-python
    - serverless-python-requirements
